<style>
html {
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#box-signup{
    border-radius: 20px;
    background: #FFFFFF;
    padding: auto;
    width: 830px;
    height: 530px;
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.djathtas{
    width: 55%;
    float: right;
    text-align: center;
    right: 25%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}
.sign-up{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.emer{
    width: 70%;
    overflow: hidden;
    font-size: 14px;
    padding: 8px 0;
    margin: 8px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid #C0C0C0;
    display: inline-block;
}
.emer i{
    width: 26px;
    float: left;
    text-align: center;
}
.emer input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 15px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.mbiemer{
    width: 70%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid #C0C0C0;
    display: inline-block;
}
.mbiemer i{
    width: 26px;
    float: left;
    text-align: center;
}
.mbiemer input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 15px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.email{
    width: 70%;
    overflow: hidden;
    font-size: 14px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #C0C0C0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
}
.email i{
    width: 26px;
    float: left;
    text-align: center;
}
.email input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 15px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    border: none;
    text-align: center;
    margin: 30px;
    padding: 16px;
    width: 240px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to left, #f78fb3,#25CCF7,#f78fb3);
    background-size: 200%;
    transition: 0.4s;

}
.btn:hover{
    background-position: right;
}
.btn:active {
	transform: scale(0.95);
}
.btn:focus {
	outline: none;
}
.majtas{
    background: url("16 The Plaza Hotel.jpg");
    width: 45%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.pyetja{
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    padding-top: -50px;
    width:50%;
    display: table-cell;
    padding-left: 100px;
    padding-right: 5px;
    padding-bottom: 30px;
}
.member{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-variant: small-caps;
    color: black;
    width:50%;
    display: table-cell;
    padding-right: 100px;

}
.member:hover{
    color: #3867d6;
}
.signuperror {
    padding: 7px 10px;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 2px;
    color: #d6001c;
}

</style>
